<span class="<%= css_classes %>"
      aria-label="<%= tooltip %>"
      data-controller="tooltip"
      data-tooltip-message-value="<%= tooltip %>"
      data-tooltip-position-value="top">
  <%= image_tag icon_path, alt: "", class: "streak-badge__icon" %>
</span>
