<section class="rail-widget" aria-label="Earn stardust by posting videos">
  <h3 class="rail-widget__title">Earn up to 2,000 <%= helpers.stardust_icon %> by posting videos!</h3>
  <p class="rail-widget__body">Get up to 2,000 <%= helpers.stardust_icon %> for showing off what you've made on Stardance</p>
  <%= link_to "Learn more",
        LEARN_MORE_URL,
        class: "action-btn action-btn--primary action-btn--small",
        target: "_blank",
        rel: "noopener" %>
</section>
