<dl class="certificate-page__faq-list">
  <% items.each do |question, answer| %>
    <div class="certificate-page__faq-item">
      <dt class="certificate-page__faq-question"><%= question %></dt>
      <dd class="certificate-page__faq-answer"><%= answer %></dd>
    </div>
  <% end %>
</dl>
